.pokecard__border{
    padding: 0.7em;
    background-color: #aaa;
    border-radius: 0.8em;
    width: 100%;
    max-width: 320px;
    background: var(--border-gradient);
    box-shadow: 6px 3px 9px 7px rgba(0, 0, 0, 0.1); 
    transition: transform .3s ease; 
}

.pokecard__border:hover{
    transform: scale(1.05);
}

.pokecard{
    background-color: white;
    border-radius: 0.8em;
    overflow: hidden;
    transition: transform .3s ease; 
    overflow: hidden;
}

.pokecard__header{
    aspect-ratio: 1.8;
    position: relative;
    background: var(--header-gradient);
}

.pokecard__img{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.pokecard__body{
    margin-top: 4em;
}

.pokecard__name{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.4em;
    color: var(--color);
}

.pokecard__types{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 0.8em;
}

.pokemon__types__item{
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: capitalize;
}

.pokecard__types__item:nth-child(2)::before{
    content: '/';
    margin-right: 0.5em;
}

.pokecard__hr{
   margin-bottom: 0.8em;
   border: none;
   border-top: 1px solid #aaa;
}

.pokecard__stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 1em 2em;
    gap: 1em 0.5em;
}

.pokecard__stats__item{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.pokecard__stats__label{
    font-size: 0.7rem;
    font-weight: 200;
}

.pokecard__stats__value {
    color: var(--color);
}




